html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    width: fit-content;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: benton-modern-display, serif;
    font-weight: bold;
}

body p,
body span,
body a {
    font-family: din-2014, sans-serif;
    color: black;
    letter-spacing: 0.1em;
}

#mapid {
    height: 25vh;
}

@media (min-width: 1920px) {
    .container {
        display: grid;
        grid-template-columns: 45% 45%;
        width: 100vw;
        margin: 2.5%;
    }
}

@media (min-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: 45% 45%;
        width: 100vw;
        margin: 2.5%;
    }
}

@media (min-width: 1024px) and (max-width: 1339px) {
    .container {
        display: grid;
        grid-template-columns: 45% 45%;
        width: 100vw;
        margin: 2.5%;
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
    .container {
        display: grid;
        grid-template-columns: 45% 45%;
        width: 100vw;
        margin: 2.5%;
    }
}

@media (max-width: 639px) {
    .report_container,
    .pincode_container,
    .income_container,
    .expenditure_container {
        width: 100%;
    }
}